* {
    margin: auto;
    padding: 0;
    direction: rtl;
}
body {
    background-color: #f16b70;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    user-select: none;
    user-zoom: unset;
}

.data-inpt {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
.basic-data {
    position: relative;
    width: 90%;
    height: 50px;
    bottom: 10%;
    text-align: center;
    font-size: 120%;
    border: 2px solid white;
    border-radius: 15px;
    background: none;
    color: white;
    outline: none;
    font-weight: 500;
}

.weight,
.hight {
    width: 45%;
}

#btn-data-submit {
    background-color: #6658c1;
    margin-bottom: 0;
    width: 70%;
    color: white;
    border: 1px solid #261f53;
}

/* output */

.testHead {
    background-color: #261f53;
    text-align: right;
    padding: 10px;
    color: white;
}

.data-output {
    width: 100%;
    height: 50%;
}

.output-table {
    margin-top: 5px;
    width: 90%;
    height: 90%;
}

#data-table {
    width: 100%;
}
tr {
    outline: 1px solid black;
}
td {
    outline: 1px solid black;
    text-align: center;
}
